body {
    background: radial-gradient( circle, rgba(227, 221, 132, 1) 0%, rgba(230, 123, 145, 1) 100%);
    text-align: center;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}

.peg {
    position: relative;
    border-left: 2px solid #2F2B2B;
    height: 600px;
}

#a,
#b,
#c {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.pegs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
}

.ground {
    width: 52vw;
    height: 5px;
    border: none;
    background: #fff7ca6d;
    margin-top: 730px;
    position: absolute;
}

.title {
    bottom: -150px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    color: #2F2B2B;
    position: absolute;
}

.input1 {
    margin-right: -50px;
    position: relative;
    display: block;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input2 {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#At-the-end,
#Continue,
#From-the-beginning,
#Stop,
#Timer,
#Non-Timer,
#Click {
    font-size: 33px;
    background-color: #ffc56880;
    border-radius: 10px;
    border: #F3368D outset 5px;
    margin-right: 50px;
    font-family: 'Explora', cursive;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}

span {
    border: 5px solid #FFF7CA;
    border-radius: 1000px;
    color: #F3368D;
    background-color: #FFF7CA;
    display: block;
}

#titlea {
    display: block;
    padding-right: 50vw;
}

#titlec {
    display: block;
    padding-left: 50vw;
}